
body{
    border-style: solid;
    box-shadow: 0px 0px 15px 15px rgba(211, 211, 211, 0.6);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
#div2 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
#div3 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

input{
    outline: none;
    box-shadow: 0 5px lightgrey;
}
input:active{
    transform: translateY(3px);
    box-shadow: 0 2px lightgrey;
}

footer{
    border-top: solid;
}
footer div{
    margin-left: 3%;
}
footer div p{
    font-size: 10px;
}

button{
    outline: none;
    box-shadow: 0 5px lightgrey;
}
button:active{
    transform: translateY(3px);
    box-shadow: 0 2px lightgrey;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dott{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.jeu{
    margin-left: 1%;
    border-style: solid;
    padding: 0.5%;
}

.indice{
    margin-left: 1%;
    border-style: solid;
    padding: 0.5%;
}

.all{
    margin-left: 3%;
}

.choice{
    font-size: 100px;
}

.marge{
    padding-top: 200px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/*span{
    margin-left: 5px;
    margin-right: 5px;
}*/

button{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.table{
    margin-left: 3%;
}

.choice{
    margin-left: 3%;
    margin-top: 2%;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
   background-color: red;
}
.white{
    background-color: white;
}