html{
    background-image: url("img/back.jpeg");
}

body{
    border-style: solid;
    box-shadow: 0px 0px 15px 15px rgba(211, 211, 211, 0.6);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgba(245, 245, 245, 0.6);
}

.enter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.namenter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    padding-bottom: 10px;
}

.tamago{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tamago div p{
    font-size: 50px;
}
.tama{
    margin: 2%;
    height: 300px;
    width: auto
}
.tama:active{
    height: 295px;
    width: auto
}

span{
    margin-left: 5px;
    margin-right: 5px;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

#prestige{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
}

.upgrades div{
    display: flex;
    justify-content: space-evenly;
}

footer{
    border-top: solid;
}

.sec{
    margin-left: 50px;
}